
<div id="logo" class="container">
	<h1><%= link_to (image_tag 'logo.png'), root_path%></a></h1>
</div>
<div id="page" class="container">
	<div id="content">
		<div class="title">
			<h2>Bienvenido a CupiCoordinador</h2>
		</div>
		<p>Esta es la aplicación para manejo de pensums de maestrías. Con ella puede analizar cupos de materias y pronosticar problemas en los cupos basado en información real recopilada de los estudiantes.</p>
	</div>
	<div id="sidebar"><%= image_tag 'ml.png' %></div>
</div>	
<div id="copyright" class="container">
	<p>Copyright (c) 2013 CupiCoordinador All rights reserved.</p>
</div>
