
<div id="page" class="container" align="center">
	<!--<div id="content">-->
		<div class="title">
			<h2>Asignaci&oacute;n de Cupos</h2>
		</div>
		<br/>
		<li><%= link_to "Volver", asignacion_seleccionar_path%></li>
		<br/>
	<!--</div>-->
</div>
<div id="copyright" class="container">
	<p>Copyright (c) 2013 CupiCoordinador All rights reserved.</p>
</div>