
<div id="page" class="container" align="center">
	<!--<div id="content" align="center">-->
		<div class="title">
			<h2>Asignaci&oacute;n de Cupos</h2>
		</div>
		<br/>
		<table>
		<%= form_for(:asign, url: asignacion_resultado_path) do |s| %>
		<tr><td>Materia: </td>
		<td><%= s.collection_select :materia, @materias, :id, :lineamateria %></td></tr>
		<tr><td>Semestre: </td>
		<td><%= s.collection_select :semestre_id, @semestres, :id, :id_sem %></td></tr>
		<tr><td></td><td><%= s.submit "Asignar cupos para el próximo semestre" %></td></tr>
		<% end %>
		</table>
	<!--</div>-->
</div>
<div id="copyright" class="container">
	<p>Copyright (c) 2013 CupiCoordinador All rights reserved.</p>
</div>

