
<div id="page" class="container" align="center">
	<div class="title">
		<h2>Semestre tentativo:</h2>
	</div>
	<br/>
	<table border="1">
	<tr><th>Semestre</th><th>C&oacute;digo Materia</th><th>Nombre materia</th></tr>
	<% @semester.each do |sem| %>
	<tr><td><%= sem.id_sem %></td><td><%= sem.idu %></td><td><%= sem.nombre %></td></tr>
	<% end %>
	</table>
</div>
<div id="copyright" class="container">
	<p>Copyright (c) 2013 CupiCoordinador All rights reserved.</p>
</div>