

<div id="page" class="container" align="center">



<div class="title">
		<h2>Ingresar a mi Plan de Estudios:</h2>
	</div>




 



	<br>
	<%= form_for :pensum, url: estudiante_verpensum_path do |p| %>
	<div align="center"><%= p.label "Ingrese su codigo de estudiante: " %>
	<%= p.text_field :cod_stud %></div>
	<br>
	<div align="center"><%= p.submit "Ingresar" %></div>
	
	<% end %>
	
	<br/>
</div>	
<div id="copyright" class="container">
	<p>Copyright (c) 2013 CupiCoordinador All rights reserved.</p>
</div>
